In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sndata
from sndata.sdss import Sako18Spec
sako = Sako18Spec()

In [2]:
sako.download_module_data()

In [3]:
data = pd.read_csv('~/Desktop/Research/SN-Spectral-Evolution/results/final_sdss.csv')
data.head()

,obj_id,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,area_err,area_samperr,spec_flag,feat_flag,notes
0,739,2453622.5,pW1,3671.822467,3919.173035,11423.931678,0.0,133.032825,58.548298,0.0,3.181248,3.360168e-15,0.0,2.452360e-16,0,0,NaN
1,739,2453622.5,pW3,3919.173035,4613.067992,NaN,0.0,NaN,142.670444,0.0,11.190827,1.231454e-14,0.0,1.070385e-15,0,0,NaN
2,739,2453622.5,pW4,4613.067992,5302.585063,14126.441955,0.0,215.218064,159.769980,0.0,3.780944,1.593680e-14,0.0,5.054982e-16,0,0,NaN
3,739,2453622.5,pW5,5302.585063,5554.313517,4696.353615,0.0,751.312627,9.621969,0.0,2.929338,8.345654e-16,0.0,2.614292e-16,0,0,NaN
4,739,2453622.5,pW6,5554.313517,5847.631891,14164.882385,0.0,217.532693,26.798596,0.0,2.899821,2.198474e-15,0.0,2.623130e-16,0,0,NaN

In [4]:
sako.load_table(2)

<Table length=10258>
 CID      RA        DEC    ... zspecHelio zspecerrHelio      objIDHost
str21  float64    float64  ...  float64      float64           int64
----- ---------- --------- ... ---------- ------------- -------------------
  679 327.434978  0.657569 ...   0.124957       1.7e-05 1237656238472888902
  680 327.555405  0.842584 ...         --            -- 1237678617403654778
  682  331.23947  0.845158 ...   0.048551       2.2e-05 1237678617405227407
  685 337.823273 -0.882037 ...         --            -- 1237656906345349717
  688 343.171604 -0.962902 ...   0.067866         1e-05 1237656906347708594
  689 345.314592 -0.866253 ...         --            -- 1237656906348626518
  691 329.729408 -0.498538 ...   0.130903       2.1e-05 1237663542608986381
  692 351.071097 -0.945665 ...   0.197275         3e-05 1237656906351182046
  694 330.154633 -0.623472 ...   0.127493       1.7e-05 1237663542609183155
  695 352.963374 -0.963772 ...   0.058267         9e-06 1237656906351968456
  ...        ...       ... ...        ...           ...                 ...
22182 320.710709  0.421637 ...      0.072         0.005                  --
22247 336.002298  0.758643 ...         --            -- 1237663544222352338
22248  336.29071  0.624113 ...   0.439078         7e-05 1237663479796924684
22253 342.956482  1.106149 ...         --            --                  --
22255  30.695993 -0.986579 ...    0.12116       2.9e-05 1237657069549977708
22256  46.432743 -0.986572 ...   0.000105       1.9e-05 1237666299480178771
22257  49.655952 -0.968649 ...         --            --                  --
22258 331.259428 -0.503611 ...         --            -- 1237663542609642556
22282   26.21842  1.229893 ...   0.059162       2.1e-05 1237678617429278863
22284 333.518412 -0.213183 ...      0.133         0.005 1237663478722003391

In [7]:
table9 = sako.load_table(9)
table9

<Table length=1359>
 CID   SID  Telescope Files     Date    Type   zSN     zGal
str21 str21    str8    str6    str10    str6 float64 float64
----- ----- --------- ------ ---------- ---- ------- -------
  701  2795       APO    Gal 2008-09-02  Gal      --   0.206
  703  1963       NTT    Gal 2007-09-21  Gal      --  0.2987
  722    58       APO SN,Gal 2005-09-09   Ia   0.087  0.0859
  739    59       APO SN,Gal 2005-09-09   Ia   0.105  0.1071
  744    60       APO SN,Gal 2005-09-08   Ia   0.123  0.1278
  762    61       APO SN,Gal 2005-09-09   Ia   0.189  0.1908
  774    62       APO SN,Gal 2005-09-09   Ia    0.09  0.0937
  774   577       MDM     SN 2005-09-17  Gal      --  0.0933
  779   592       HET    Gal 2005-12-29  Gal      --  0.2377
  841  2757       HET    Gal 2008-01-06  Gal      --  0.2991
  ...   ...       ...    ...        ...  ...     ...     ...
21839  2716       NTT     SN 2007-12-08   Ia   0.089  0.0935
21858  2999       APO    Gal 2008-10-30  Gal      --  0.2656
21861  2723       NTT     SN 2007-12-07   Ia   0.188      --
21898  2656       MDM     SN 2007-11-25   Ic   0.038  0.0383
21898  2704       NTT     SN 2007-12-07   Ib   0.038  0.0384
22073  2673       HET     SN 2007-12-09  IIn   0.235  0.2311
22075  2661       MDM     SN 2007-11-25   Ia   0.117  0.1278
22182  2690       NTT     SN 2007-12-10   Ia   0.076      --
22182  2699       WHT     SN 2007-12-03   Ia   0.072      --
22284  2735       NTT     SN 2007-12-08   Ia   0.136      --

In [40]:
redshift = table9['zSN']
ids = list(table9['CID'])
ids_ours = list(data['obj_id'])
print(intersection(ids, ids_ours))

set()

In [24]:
def intersection(lst1, lst2): 
    '''
    return intersection of two lists
    
    args
    lst1 - first list to be compared
    lst2 - second list to be compared
    
    returns
    (set(lst1) & set(lst2)) - intersection of both lists'''
    return (set(lst1) & set(lst2))

In [25]:
print(intersection(data['obj_id'], table9['CID']))

set()

In [21]:
id_list = []
#print(table9['CID'])
#print(data['obj_id'])
for i in data['obj_id']:
    for j in table9['CID']:
        if i == j:
            print(i)

In [31]:
group6 = data[data['feat_name']=='pW6']
group6
redshift_narrowed = intersection(table9['CID'], group6['obj_id'])
redshift_narrowed

set()