In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sndata
from sndata.csp import DR1
from sndata.csp import DR3
dr1 = DR1()
dr3 = DR3()

In [18]:
dr1.download_module_data()
dr3.download_module_data()

In [4]:
group = pd.read_csv('~/Desktop/SN-Spectral-Evolution/results/final_csp.csv')
group.head()

,obj_id,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,area_err,area_samperr,spec_flag,feat_flag,notes
0,2004ef,2453255.66,pW2,3929.0819,4068.8654,NaN,0.0,NaN,12.432846,0.0,3.538539,7.091278e-15,0.0,2.246094e-15,0,0,NaN
1,2004ef,2453255.66,pW3,4068.8654,4464.1151,13176.598888,0.0,211.378099,86.793896,0.0,8.082350,5.371763e-14,0.0,6.300415e-15,0,0,NaN
2,2004ef,2453255.66,pW4,4526.7766,5066.6299,21673.924415,0.0,124.766254,169.348571,0.0,2.464627,8.934274e-14,0.0,1.772292e-15,0,0,NaN
3,2004ef,2453255.66,pW5,5155.8021,5601.6630,9043.079766,0.0,112.683776,81.630045,0.0,2.541775,2.970750e-14,0.0,1.135316e-15,0,0,NaN
4,2004ef,2453255.66,pW6,5601.6630,5840.2589,11669.096575,0.0,136.681639,26.028839,0.0,2.733116,7.720622e-15,0.0,9.188660e-16,0,0,NaN

In [116]:
group6_noflag = group[group['feat_name']=='pW6']
group7_noflag = group[group['feat_name']=='pW7']
group6_flag = group6_noflag[group6_noflag['spec_flag'] == 0]
group62 = group6_flag[group6_flag['feat_flag'] == 0]
group7_flag = group7_noflag[group7_noflag['spec_flag'] == 0]
group72 = group7_flag[group7_flag['feat_flag'] == 0]

In [124]:
index6 = group62.set_index(['obj_id', 'time'])
index7 = group72.set_index(['obj_id', 'time'])
joined = index6.join(index7, lsuffix = '6', rsuffix = '7')
joined.dropna(subset = ['pew6' , 'pew7'])
group6 = joined[joined.columns[:15]]
group7 = joined[joined.columns[16:]]
group7

                   feat_start7  feat_end7          vel7  vel_err7  \
obj_id time
2004ef 2453255.66    5840.2589  6394.5725  15182.320152       0.0
       2453256.68    5849.8107  6363.0772  14265.643699       0.0
       2453257.77    5842.7322  6229.1840  14045.470358       0.0
       2453258.68    5857.0505  6373.2558  13123.237894       0.0
       2453262.61    5883.5308  6364.3801  11715.883920       0.0
...                        ...        ...           ...       ...
2009ad 2454885.59    5960.4454  6318.2933  10066.929765       0.0
       2454888.60    5960.4454  6324.2081  10097.831158       0.0
2009ag 2454885.63    5908.3570  6327.4920  10258.710990       0.0
       2454886.70    5917.4031  6336.5381  10038.063011       0.0
       2454888.68    5926.4492  6342.5688   9573.677427       0.0

                   vel_samperr7        pew7  pew_err7  pew_samperr7  \
obj_id time
2004ef 2453255.66     51.099995  159.894685       0.0      5.858569
       2453256.68     33.485312  161.016576       0.0      3.574235
       2453257.77    160.163406  114.543224       0.0      6.710786
       2453258.68     55.218869  154.997642       0.0      4.902431
       2453262.61     22.328736  130.809302       0.0      2.127390
...                         ...         ...       ...           ...
2009ad 2454885.59     14.825690   68.766110       0.0      1.061036
       2454888.60     18.936498   69.976741       0.0      1.799499
2009ag 2454885.63      5.466487  104.974971       0.0      0.498353
       2454886.70      4.980109  110.645568       0.0      0.430947
       2454888.68      7.903711  107.323955       0.0      0.751064

                          area7  area_err7  area_samperr7  spec_flag7  \
obj_id time
2004ef 2453255.66  4.826259e-14        0.0   2.520376e-15         0.0
       2453256.68  4.658254e-14        0.0   1.285279e-15         0.0
       2453257.77  5.923102e-14        0.0   4.607569e-15         0.0
       2453258.68  3.729839e-14        0.0   1.722811e-15         0.0
       2453262.61  4.384620e-14        0.0   9.623319e-16         0.0
...                         ...        ...            ...         ...
2009ad 2454885.59  6.197324e-14        0.0   1.195763e-15         0.0
       2454888.60  5.179187e-14        0.0   1.636924e-15         0.0
2009ag 2454885.63  5.421345e-13        0.0   3.505795e-15         0.0
       2454886.70  6.161465e-13        0.0   3.302273e-15         0.0
       2454888.68  7.031972e-13        0.0   6.725000e-15         0.0

                   feat_flag7  notes7
obj_id time
2004ef 2453255.66         0.0     NaN
       2453256.68         0.0     NaN
       2453257.77         0.0     NaN
       2453258.68         0.0     NaN
       2453262.61         0.0     NaN
...                       ...     ...
2009ad 2454885.59         0.0     NaN
       2454888.60         0.0     NaN
2009ag 2454885.63         0.0     NaN
       2454886.70         0.0     NaN
       2454888.68         0.0     NaN

[160 rows x 14 columns]

In [125]:
dr3.load_table(3)

<Table length=134>
  SN   T(Bmax)  e_T(Bmax)  Tpeak   ...   sBV    e_sBV  sBV(tem) e_sBV(tem)
          d         d        d     ...
 str6  float64   float64  float64  ... float64 float64 float64   float64
------ -------- --------- -------- ... ------- ------- -------- ----------
2004dt       --        -- 53234.72 ...      --   1.189    0.061         --
2004ef 53263.77      0.12 53264.38 ...   0.846   0.007    0.816       0.06
2004eo 53278.24      0.08 53278.53 ...   0.835    0.01    0.824       0.06
2004ey 53303.73      0.13 53304.18 ...   1.088   0.008     1.01       0.06
2004gc       --        -- 53324.78 ...      --   0.923    0.064         --
2004gs 53355.93      0.12 53356.41 ...    0.73   0.008    0.702       0.06
2004gu 53362.97      1.05 53361.76 ...      --   1.248    0.061         --
 2005A 53379.72      0.85 53379.67 ...      --   0.964    0.061         --
 2005M  53405.5      0.19 53405.74 ...   1.123   0.011     1.21       0.06
   ...      ...       ...      ... ...     ...     ...      ...        ...
2009aa 54877.86      0.59 54878.23 ...    0.95   0.014    0.906       0.06
2009ab 54882.94      0.19 54883.26 ...      --   0.874     0.06         --
2009ad 54885.59      0.16 54886.27 ...      --   1.015     0.06         --
2009ag 54888.85      0.93 54889.55 ...   0.982   0.007    0.961       0.06
2009al       --        -- 54893.53 ...      --   1.174    0.072         --
2009cz 54942.31      0.18 54943.14 ...      --   1.189    0.061         --
2009dc 54946.87      0.49       -- ...      --      --       --         --
2009ds 54960.03      0.16 54961.04 ...      --   1.125    0.063         --
2009le       --        -- 55165.94 ...      --   1.156    0.064         --
2010ae       --        --       -- ...      --      --       --         --

In [126]:
def get_csp_t0(obj_id):
    table_3 = dr3.load_table(3)
    if not obj_id in table_3['SN']:
        raise ValueError(f't0 not available for {obj_id}')
    obj_data = table_3[table_3['SN']==obj_id]
    return obj_data['T(Bmax)']

In [136]:
def object_phases6(obj_id, df):
    data = df.loc[df['obj_id'] == obj_id]
    time_unique=np.unique(data['time6'])
    t_max=get_csp_t0(obj_id)+ 2400000.5
    phase=-(t_max-time_unique)
    return phase

In [143]:
def phase_for_dr16(data_release, df):
    all_phases=[]
    for obj_id in dr1.get_available_ids():
        phase=object_phases6(obj_id, df)
        all_phases.extend(phase)
    return all_phases

In [144]:
def object_phases7(obj_id, df):
    data = df.loc[df['obj_id'] == obj_id]
    time_unique=np.unique(data['time7'])
    t_max=get_csp_t0(obj_id)+ 2400000.5
    phase=-(t_max-time_unique)
    return phase

In [145]:
def phase_for_dr17(data_release, df):
    all_phases=[]
    for obj_id in dr1.get_available_ids():
        phase=object_phases7(obj_id, df)
        all_phases.extend(phase)
    return all_phases

In [146]:
all_phases6 = phase_for_dr16(dr1, group6)
all_phases7 = phase_for_dr17(dr1, group7)

KeyError: 'obj_id'

In [96]:
group6['phase'] = all_phases6
group6
group6.set_index(['obj_id'])
group7['phase'] = all_phases7
group7
group7.set_index(['obj_id'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,time,feat_name,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,area_err,area_samperr,spec_flag,feat_flag,notes,phase
obj_id,,,,,,,,,,,,,,,,,
2004ef,2453255.66,pW7,5840.2589,6394.5725,15182.320152,0.0,51.099995,159.894685,0.0,5.858569,4.826259e-14,0.0,2.520376e-15,0,0,NaN,-8.61
2004ef,2453256.68,pW7,5849.8107,6363.0772,14265.643699,0.0,33.485312,161.016576,0.0,3.574235,4.658254e-14,0.0,1.285279e-15,0,0,NaN,-7.59
2004ef,2453257.77,pW7,5842.7322,6229.1840,14045.470358,0.0,160.163406,114.543224,0.0,6.710786,5.923102e-14,0.0,4.607569e-15,0,0,NaN,-6.50
2004ef,2453258.68,pW7,5857.0505,6373.2558,13123.237894,0.0,55.218869,154.997642,0.0,4.902431,3.729839e-14,0.0,1.722811e-15,0,0,NaN,-5.59
2004ef,2453262.61,pW7,5883.5308,6364.3801,11715.883920,0.0,22.328736,130.809302,0.0,2.127390,4.384620e-14,0.0,9.623319e-16,0,0,NaN,-1.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009ad,2454885.59,pW7,5960.4454,6318.2933,10066.929765,0.0,14.825690,68.766110,0.0,1.061036,6.197324e-14,0.0,1.195763e-15,0,0,NaN,-0.50
2009ad,2454888.60,pW7,5960.4454,6324.2081,10097.831158,0.0,18.936498,69.976741,0.0,1.799499,5.179187e-14,0.0,1.636924e-15,0,0,NaN,2.51
2009ag,2454885.63,pW7,5908.3570,6327.4920,10258.710990,0.0,5.466487,104.974971,0.0,0.498353,5.421345e-13,0.0,3.505795e-15,0,0,NaN,-3.72
2009ag,2454886.70,pW7,5917.4031,6336.5381,10038.063011,0.0,4.980109,110.645568,0.0,0.430947,6.161465e-13,0.0,3.302273e-15,0,0,NaN,-2.65
2009ag,2454888.68,pW7,5926.4492,6342.5688,9573.677427,0.0,7.903711,107.323955,0.0,0.751064,7.031972e-13,0.0,6.725000e-15,0,0,NaN,-0.67

In [97]:
#zero = np.zeros(160)
my_list = []
my_list7 = []
for obj_id in group6['obj_id'].unique():
    df = group6[group6['obj_id']==obj_id]
    t0_measure = np.interp(0, df['phase'], df['pew'])
    my_list.append(t0_measure)
for obj_id in group7['obj_id'].unique():
    df7 = group7[group7['obj_id']==obj_id]
    t0_measure7 = np.interp(0, df7['phase'], df7['pew'])
    my_list7.append(t0_measure7)

In [100]:
len(my_list7)

54

### now i need to interpolate the 6 and 7 data sets so that only the measurements at time 0 are there (x=time, y=pew)

### first i need to get a value for the phases
###