In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from matplotlib.ticker import MultipleLocator
from scipy.stats.stats import pearsonr
from pandas import DataFrame

In [2]:
    feature_alias = {
        'pW1': 'Ca ii H&K',
        'pW2': 'Si ii λ4130',
        'pW3': 'Mg ii, Fe ii',
        'pW4': 'Fe ii, Si ii',
        'pW5': 'S ii λ5449, λ5622',
        'pW6': 'Si ii λ5972',
        'pW7': 'Si ii λ6355',
        'pW8': 'Ca ii IR triplet'}

In [12]:
sdss_combined = pd.read_csv('/Users/ellakane/Desktop/research/SN-Spectral-Evolution/results/residual_df.csv', index_col=['feat_name', 'obj_id'])
sdss_combined = sdss_combined.iloc[: , 1:]

### goal: table with number of measurements for each feature

In [22]:
sdss_combined.loc['pW6']

,time,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,...,ageloPEGASE,agehiPEGASE,minchi2PEGASE,Notes,delta_t,is_peak,branch_type,arcmin,kpc,residuals
obj_id,,,,,,,,,,,,,,,,,,,,,
19128,2454387.5,5630.787447,5932.631261,8144.168668,0.0,341.659397,16.352920,0.0,2.103797,1.516625e-01,...,NaN,NaN,NaN,NaN,0.1,True,BL,NaN,NaN,0.192552
2916,2453644.5,5646.531964,5944.099777,8791.600710,0.0,218.468389,16.940968,0.0,2.058575,8.401049e-16,...,0.15,0.29,113.40,NaN,0.1,True,CN,0.033167,41.424666,-0.096842
2017,2453636.5,5679.642639,5968.959191,4701.143496,0.0,4037.683244,16.480327,0.0,5.157298,1.752533e-16,...,1.08,1.39,0.14,NaN,0.1,True,SS,0.034500,43.077351,0.298784
17186,2454354.5,5613.326552,5934.643199,10166.275984,0.0,1441.800083,20.078028,0.0,4.705506,1.738924e-15,...,2.58,3.37,11.54,NaN,0.2,True,CN,0.231167,275.760107,0.303413
19968,2454413.5,5667.652975,5850.854624,10655.454406,0.0,46.690059,12.162361,0.0,0.425408,4.437482e-15,...,2.41,2.72,61.46,NaN,0.2,True,SS,0.027500,34.389803,-0.114607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21502,2454421.5,5684.971286,5884.760842,9571.296676,0.0,361.639326,7.261684,0.0,0.924905,1.331228e-15,...,4.96,12.60,118.70,NaN,6.3,True,SS,0.037000,46.173484,-0.074774
3317,2453640.5,5662.898839,5949.109809,10392.083325,0.0,86.928403,19.548907,0.0,2.592434,9.477149e-16,...,0.68,0.81,1.03,NaN,6.4,True,SS,0.011500,14.431394,-0.166204
13038,2453995.5,5563.893593,5918.709956,7748.627534,0.0,215.028150,56.199907,0.0,9.529815,1.133663e-14,...,NaN,NaN,NaN,NaN,6.5,True,CL,NaN,NaN,0.165418
2308,2453637.5,5582.524718,5859.399831,12717.853348,0.0,455.089252,37.108540,0.0,3.732380,1.987995e-15,...,NaN,NaN,NaN,NaN,6.5,True,CL,NaN,NaN,0.033320
2165,2453641.5,5581.097483,5922.016391,8173.439333,0.0,2607.325241,62.147245,0.0,21.010914,3.106935e-16,...,0.03,4.07,8.78,NaN,6.7,True,CL,0.012000,15.057214,0.232221

In [23]:
sdss_combined.loc['pW1']

,time,feat_start,feat_end,vel,vel_err,vel_samperr,pew,pew_err,pew_samperr,area,...,ageloPEGASE,agehiPEGASE,minchi2PEGASE,Notes,delta_t,is_peak,branch_type,arcmin,kpc,residuals
obj_id,,,,,,,,,,,,,,,,,,,,,
2017,2453636.5,3615.136877,3908.025238,13865.174056,0.0,323.138916,52.658139,0.0,5.550196,8.082484e-16,...,1.08,1.39,0.14,NaN,0.1,True,SS,0.034500,43.077351,0.298784
2689,2453637.5,3657.035407,3918.106397,11820.961436,0.0,443.806031,103.331980,0.0,9.616017,2.222654e-15,...,4.75,9.70,6.98,NaN,0.1,True,NaN,0.049833,62.012352,-0.112918
2916,2453644.5,3639.027373,3923.657455,12459.276662,0.0,144.635407,70.846644,0.0,3.494852,5.461530e-15,...,0.15,0.29,113.40,NaN,0.1,True,CN,0.033167,41.424666,-0.096842
19128,2454387.5,3572.337104,3947.308028,13497.426179,0.0,41.715296,117.062899,0.0,1.685313,3.017702e+00,...,NaN,NaN,NaN,NaN,0.1,True,BL,NaN,NaN,0.192552
2372,2453637.5,3588.948328,3936.838939,17722.188697,0.0,389.332335,118.829353,0.0,13.090415,3.086387e-15,...,2.69,3.80,0.61,NaN,0.2,True,NaN,0.013167,16.516932,-0.124043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,2453637.5,3685.497575,3943.625936,11726.883884,0.0,200.829061,82.014239,0.0,5.228498,7.521833e-15,...,NaN,NaN,NaN,NaN,6.5,True,CL,NaN,NaN,0.033320
3080,2453641.5,3500.126736,3923.324201,18882.193352,0.0,200.530133,137.592886,0.0,5.807091,7.886501e-15,...,1.65,3.37,24.87,NaN,6.6,True,NaN,0.038667,48.235649,-0.166410
2165,2453641.5,3654.436498,3944.269698,11735.782795,0.0,196.826661,93.750750,0.0,5.808912,1.263720e-15,...,0.03,4.07,8.78,NaN,6.7,True,CL,0.012000,15.057214,0.232221
19968,2454406.5,3507.901777,3921.776287,17654.228010,0.0,76.274254,158.092375,0.0,2.267509,5.318834e-14,...,2.41,2.72,61.46,NaN,6.8,True,SS,0.027500,34.389803,-0.114607
8719,2453683.5,3552.557347,3932.169859,16685.149802,0.0,230.510419,134.423657,0.0,6.533716,2.530772e-14,...,0.08,0.64,5.96,NaN,7.0,True,NaN,0.029333,36.667727,-0.044784

In [24]:
feat_list = ['pW1', 'pW2', 'pW3', 'pW4', 'pW5', 'pW6', 'pW7', 'pW8']
collect = []
for i in feat_list:
    num = len(sdss_combined.loc[i])
    collect.append([i, num])

In [27]:
num_of_measure = pd.DataFrame(collect, columns=['feat_name', 'number_measurements'])
num_of_measure

  feat_name  number_measurements
0       pW1                  116
1       pW2                  119
2       pW3                  127
3       pW4                  120
4       pW5                  112
5       pW6                  105
6       pW7                   99
7       pW8                    3